
  .nav{
      margin-top: 15px;
  }

  .cardsize{
      min-width: 800px !important;
      min-height: 200px !important;
      
  }

  .btncls{
      margin-top: 50px;
      margin-left: 500px;
  }
  .btnpdn{
      margin: 50px !important;
  }