.cent{
    margin-top: 550px;
    margin-left: 20px;
}

.cardsizee{
    margin-top: 50px !important;
    margin-left: 170px;
    min-width: 900px !important;
      min-height: 1000px !important;
      
}